In [1]:
print("Welcome to Python!!!!")

Welcome to Python!!!!

# Python Tutorial

In [2]:
print(10)

10

In [3]:
10

10

In [4]:
welcome to python

SyntaxError: invalid syntax (<ipython-input-4-cf47088e3768>, line 1)

In [5]:
print("Tim is a good boy")
print("Tim is 18 years old")
print("Tim is from Turkey")

Tim is a good boy
Tim is 18 years old
Tim is from Turkey

In [6]:
name="Tim"

In [7]:
print(name)

Tim

In [8]:
print(name,"is a good boy")

Tim is a good boy

In [10]:
print(name,"is a good boy")
print(name, "is 18 years old")
print(name,"is from Turkey")

Tim is a good boy
Tim is 18 years old
Tim is from Turkey

In [13]:
print(name,"is a good boy",name,"is 18 years old",name,"is from Turkey")

Tim is a good boy Tim is 18 years old Tim is from Turkey

In [17]:
print("Hello Python",end=", ")
print("Welcome to Python tutorial")

Hello Python, Welcome to Python tutorial

In [18]:
age=18
print("Tim is ",age,"years old")

Tim is  18 years old

In [19]:
a=10
b=20
sum=a+b
print("Addition is :",sum)

Addition is : 30

In [20]:
print(name + " is a good boy.")

Tim is a good boy.

In [21]:
print("Tim is "+age+" years old.")

TypeError: can only concatenate str (not "int") to str

In [22]:
marks=98.79 #float value stored into marks variable
print(marks)

98.79

In [23]:
print("Tim scored ",marks,"in python exam.")

Tim scored  98.79 in python exam.

In [24]:
x=True
print(x)

True

In [25]:
print(a > b)

False

In [26]:
print(a<b)

True

In [27]:
marks=[89,76,90,56]
print(marks)

[89, 76, 90, 56]

In [28]:
print("Sarita")

Sarita

In [29]:
name="Sarita"
print(name[0])

S

In [30]:
print(name[5])

a

In [31]:
print(name[10])

IndexError: string index out of range

In [32]:
print(name[-1])

a

In [33]:
print(name[-3])

i

In [34]:
x=100
y=200
add=x+y
sub=y-x
mul=x*y
div=x/y
print("Sum is :",add)
print("Subtraction is:",sub)
print("Product is :",mul)
print("Division is :",div)

Sum is : 300
Subtraction is: 100
Product is : 20000
Division is : 0.5

In [35]:
print(3 ** 2)

9

In [36]:
print("Remainder is :",x % y)

Remainder is : 100

In [37]:
pi=3.14
print(pi)

3.14

In [38]:
import math
print(math.floor(pi))

3

In [39]:
print(math.ceil(pi))

4

In [40]:
print(x//y)

0

In [1]:
x1=30
x2=50
print(x1>x2)

False

In [2]:
print(x1<=x2)

True

In [3]:
print(x1!=x2)

True

In [4]:
print(x1 == x2)

False

In [27]:
a=True
b=False
print(a & b)

False

In [6]:
print(b & b)

False

In [7]:
print(a & a)

True

In [8]:
print(a | b)

True

In [9]:
print( b | b)

False

In [14]:
 p=10
q=30
z=p
p=q
q=z
print("After exchange :",p, " and",q)

After exchange : 30  and 10

In [11]:
p= p+q
q= p-q
p= p-q
print("After exchange :",p, " and",q)

After exchange : 20  and 40

In [13]:
p=p+q
q=p-q
p=p-q
print("After exchange :",p, " and",q)

After exchange : 20  and 40

In [15]:
p=10
q=30
p=p+q
q=p-q
p=p-q
print("After exchange :",p, " and",q)

After exchange : 30  and 10

In [17]:
p=10
q=30
p,q = q,p
print("After exchange :",p, " and",q)

After exchange : 30  and 10

In [18]:
a=True
b=False
print(a is b)

False

In [19]:
print(a not is b)

SyntaxError: invalid syntax (<ipython-input-19-a0c07c9fe106>, line 1)

In [20]:
print(a is not b)

True

In [22]:
p=10
q=10
print(p is q)

True

In [25]:
marks=[89,78,69,50,90]
print(80 not in marks)

True

In [28]:
print( 5 & 4)

4