# Python Strings

In [3]:
name="Sujal"
name2='Joel'
name3="""Dilip"""
print(name)
print(name2)
print(name3)

SyntaxError: invalid syntax (<ipython-input-3-b274a77efe48>, line 3)

In [4]:
"""print("hello world")
print("hello world")
print("hello world")
print("hello world")"""

'print("hello world")\nprint("hello world")\nprint("hello world")\nprint("hello world")'

In [6]:
print("Hi Mr D"Souza")

SyntaxError: invalid syntax (<ipython-input-6-4420172d4346>, line 1)

In [7]:
print('hi Mr D"Souza')

hi Mr D"Souza

In [23]:
name="Hello Python welcome to the class"
print(name)

Hello Python welcome to the class

In [10]:
print(name[0 : 5])# str[startindex : endindex : stepin]

Hello

In [18]:
print(name[ : ])

Hello Python welcome to the class

In [28]:
print(name[0 : 8 : 2 ])

HloP

In [29]:
print(name[ : : -1]) #reverse of string

ssalc eht ot emoclew nohtyP olleH

In [60]:
s1 = "sunanda"
result= s1.isalpha()
print(result)

True

In [50]:
print(s1)

sunanda 123 naik is your mentor for python conducting at 13.00pm

In [32]:
s1.lower()

'sunanda naik'

In [33]:
s1.capitalize()

'Sunanda naik'

In [36]:
s1.title()

'Sunanda Naik Is Your Mentor For Python'

In [40]:
s1.endswith("python")

True

In [43]:
s1.startswith("sunanda")

True

In [53]:
print(s1.isalpha())

False

In [54]:
txt="Company123"
result = txt.isalnum()
print(result)

True

In [67]:
s2 = "Welcome to Python Tutorial"
print(s2)
s2="Hello Python"
print(s2)

Welcome to Python Tutorial
Hello Python

In [64]:
print(len(s2))

26

In [65]:
s3 = s2
print(s3)

Welcome to Python Tutorial

In [71]:
s2.count('H') #number of occurence in string

1

In [73]:
s2.find('Python')

6

In [74]:
s2.index('Python')

6

In [75]:
s2.replace('P' , 'C')

'Hello Cython'

In [76]:
s2.isupper()

False

In [77]:
s2.islower()

False

In [79]:
s4 = "PYTHON"
s4.islower()

False

In [86]:
s5 = input("Enter your Name:")
print(f"My name is : {s5}")
age=input("Enter Your Age:")
print("Age is:",age)

Enter your Name:sunanda
My name is : sunanda
Enter Your Age:3
Age is: 3

In [84]:
print("My name is :",s5)

My name is : sunanda

In [85]:
print("My name is %s" %s5)

My name is sunanda

In [88]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=a+b
print(c)

Enter a:10
Enter b:20
30

# Word Replacement Exercise

In [1]:
sentence = input("Enter your sentence :")
print(sentence)

Enter your sentence :Welcome to Python World
Welcome to Python World

In [4]:
sentence = input("Enter your sentence :")
print(sentence)
word1 = input("Enter the word to replace")
word2 = input("Enter the word to replace with:")
print(sentence.replace(word1, word2))

Enter your sentence :welcome to python world!!
welcome to python world!!
Enter the word to replacepython
Enter the word to replace with:java
welcome to java world!!