In [1]:
t1 = ("Viraj",12,89.78,"Goa",'M',True)
print(t1)

('Viraj', 12, 89.78, 'Goa', 'M', True)

In [2]:
print(type(t1))

<class 'tuple'>

In [3]:
#using for..in loop
for i in t1:
    print(i)

Viraj
12
89.78
Goa
M
True

In [5]:
name="aarya"
age=20
city="goa"
print(name)
print(age)
print(city)

aarya
20
goa

In [7]:
t2=("aarya",20,"goa",'F',90.7)
print(t2)

('aarya', 20, 'goa', 'F', 90.7)

In [8]:
t2[1] = 21
print(t2)

TypeError: 'tuple' object does not support item assignment

In [11]:
print(t2[0]," lives in :",t2[2])

aarya  lives in : goa

In [12]:
print(type(t2[4]))

<class 'float'>

In [13]:
print(type(t2[3]))

<class 'str'>

In [14]:
print(t2[-1])

90.7

In [16]:
print(t2[0 : 3 ])

('aarya', 20, 'goa')

In [17]:
print(len(t2))

5

In [18]:
print(t1+t2)

('Viraj', 12, 89.78, 'Goa', 'M', True, 'aarya', 20, 'goa', 'F', 90.7)

In [19]:
print(t2 * 3)

('aarya', 20, 'goa', 'F', 90.7, 'aarya', 20, 'goa', 'F', 90.7, 'aarya', 20, 'goa', 'F', 90.7)

In [20]:
print(t2*2 + t1)

('aarya', 20, 'goa', 'F', 90.7, 'aarya', 20, 'goa', 'F', 90.7, 'Viraj', 12, 89.78, 'Goa', 'M', True)

In [21]:
t3=(12,23,7,8,20)
print(min(t3))

7

In [22]:
print(max(t3))

23